fastapi==0.115.6
uvicorn[standard]==0.32.1
Jinja2==3.1.4

pydantic==2.10.3
pydantic-settings==2.6.1
python-dotenv==1.0.1
python-multipart==0.0.17

joblib==1.4.2
numpy==1.26.4
Pillow==10.4.0
opencv-python-headless==4.10.0.84
scikit-learn==1.5.2

tensorflow-intel==2.15.0; platform_system == "Windows"
tensorflow-cpu==2.15.0; platform_system != "Windows"

ultralytics==8.3.58
